{% load static %}
<!doctype html>
<html lang="pt-br">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>{% block title %}Painel{% endblock %} • Igreja API</title>
  <link rel="stylesheet" href="{% static 'unfold/css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'frontend/css/app.css' %}">
</head>
<body class="bg-slate-50">
  <header class="border-b bg-white">
    <div class="container flex items-center justify-between">
      <div class="flex items-center gap-3">
        <span class="badge">Painel</span>
       {% comment %} <strong>Igreja API</strong>{% endcomment %}
        <span class="muted">|</span>
        <a class="muted" href="/admin/">Admin</a>
      </div>
      <div class="flex items-center gap-3">
        <span class="muted">{{ request.user.email }}</span>
        <a class="btn" href="/admin/password_change/">Alterar senha</a>
        <a class="btn" href="/admin/logout/">Sair</a>
      </div>
    </div>
  </header>

  <main class="container">
    {% if messages %}
      <div class="grid" style="margin-bottom: 1rem;">
        {% for message in messages %}
          <div class="card"><div class="card-body">{{ message }}</div></div>
        {% endfor %}
      </div>
    {% endif %}

    {% block content %}{% endblock %}
  </main>
</body>
</html>
